@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
html {
  border: 0 none;
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Kumbh Sans", sans-serif;
}

html body {
  width: 375px;
  height: 1131px;
  background: -webkit-gradient(linear, left top, left bottom, from(#b068e9), to(#6463e7));
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  html body {
    width: auto;
    min-width: 768px;
    height: 1024px;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  html body {
    width: 1440px;
    min-height: 768px;
    max-height: auto;
  }
}

html body main.main-card {
  width: 327px;
  height: auto;
  min-height: 535px;
  background: white;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  html body main.main-card {
    width: 920px;
    height: auto;
    min-height: 509px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

html body main.main-card .img-card {
  background-image: url(/images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  width: 240px;
  height: 145px;
  margin-top: 0px;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  html body main.main-card .img-card {
    background-image: url(/images/bg-pattern-desktop.svg);
    background-size: contain;
    width: 964px;
    height: 568px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    z-index: 2;
    margin: 0;
  }
}

html body main.main-card .img-card .woman {
  width: 237px;
  height: 180px;
  margin-top: -110px;
}

@media only screen and (min-width: 1024px) {
  html body main.main-card .img-card .woman {
    display: none;
  }
}

html body main.main-card .img-card .woman-desktop {
  display: none;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  html body main.main-card .img-card .woman-desktop {
    display: block;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 472px;
    height: 359px;
    left: 106px;
    top: 80px;
    z-index: 1;
  }
}

html body .text-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 279px;
  height: 355px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  html body .text-card {
    margin-left: 475px;
    width: 350px;
  }
}

html body .text-card h1 {
  width: 67px;
  height: 32px;
  font-weight: 700;
  font-size: 32px;
  line-height: 32.19px;
}

@media only screen and (min-width: 1024px) {
  html body .text-card h1 {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

html body .text-card .accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body .text-card .accordion .question-faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 279px;
  height: auto;
  border-bottom: #e8e8ea 2px solid;
}

@media only screen and (min-width: 1024px) {
  html body .text-card .accordion .question-faq {
    width: 350px;
    height: 35px;
  }
}

html body .text-card .accordion .question-faq:hover {
  cursor: pointer;
}

html body .text-card .accordion .question-faq p.question {
  font-weight: 400;
  font-size: 13px;
  line-height: 13.08px;
  color: #4b4c5f;
}

html body .text-card .accordion .question-faq p.question:hover {
  color: red;
}

html body .text-card .accordion .question-faq img {
  width: 8px;
  height: 4px;
}

html body .text-card .accordion p.reponse-faq {
  width: 279px;
  height: auto;
  color: #787887;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: none;
}
/*# sourceMappingURL=style.css.map */