@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
html {
  border: 0 none;
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Kumbh Sans", sans-serif;
  body {
    width: 375px;
    height: 1131px;
    background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    @media only screen and  (min-width: 768px){
      width: 768px;

    }
    @media only screen and  (min-width: 1024px){
      width: 1024px;

    }

    main.main-card {
      width: 327px;
      height: max-content;
      background: white;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
        .img-card {
          background-image: url(/images/bg-pattern-mobile.svg);
          background-repeat: no-repeat;
          width: 240px;
          height: 145px;

          .woman {
            width: 237px;
            height: 180px;
            margin-top: -105px;
          }
        }
        .text-card {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          width: 279px;
          height: auto;
          margin-bottom: 40px;

          h1 {
            width: 67px;
            height: 32px;
            font-weight: 700;
            font-size: 32px;
            line-height: 32.19px;
          }
          .accordion {
            display: flex;
            flex-direction: column;

            .question-faq {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 279px;
              height: auto;
              border-bottom: #e8e8ea 2px solid;
              &:hover {
                cursor: pointer;
              }

              p.question {
                font-weight: 400;
                font-size: 13px;
                line-height: 13.08px;
                color: #4b4c5f;
                &:hover {
                  color: red;
                  font-weight: 700;
                }

                &:before {
                  font-weight: 700;
                }
              }
              img {
                width: 8px;
                height: 4px;
              }
            }
            p.reponse-faq {
              width: 279px;
              height: auto;
              color: #787887;
              font-weight: 400;
              font-size: 12px;
              line-height: 18px;
              display: none;
            }
          }
        }
      }
    }
  }